---
import Tag from "./Tag.astro";
const { slug, title, date, image, tags, categories } = Astro.props;
---

<div class="card lg:w-[15rem] lg:h-[20rem] bg-base-200 shadow-xl flex flex-col text-xs">
  <figure class="h-[10rem] w-[15rem] overflow-hidden bg-gray-600 py-6">
    <img src={image} alt={title} class="object-contain h-full w-full" />
  </figure>
  <div class="card-body items-start text-start p-4">
    <div>
      <Tag textTag="Tags" textCat="Categories" {tags} {categories} {date}/>
    </div>
    
    <h2 class="card-title">
      <a href={`/download/${slug}`}>{title}</a>
    </h2>

    <div class="card-actions mt-auto">
      <button class="btn btn-secondary btn-xs mt-5">
        <a href={`/download/${slug}`}>Readmore</a>
      </button>
    </div>
  </div>
</div>