---
// library imports
import { Image } from "astro:assets";

// utils imports
import { slugify } from "../js/utils";

const { categories, title, author, date, image } = Astro.props;
---

<header>
  <div class="container">
    <small>
      <a href={`/categories/${slugify(categories)}`} class="badge badge-accent badge-outline p-3 mb-3">{categories}</a>
    </small>
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${author}/`}>{author}</a> • {
        date
      }
    </p>
  </div>
  <Image
    src={image}
    alt={title}
    format="avif"
    quality={80}
    class="hero-image"
    width="800"
    height="100"
    decoding="async"
    loading="lazy"
  />
</header>
